*{
    margin: 0;
    text-decoration: none;
}
.logo_mini{
    display: block;
    margin: 0 auto;
    border: 0px;
}
.justify-content-between{   
    display:flex;
    justify-content:center;
    background-color:#0360E4
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#0360E4
}
.pos{
    display:inline-block;
    text-align:center   
}
.pos a {                   
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 30px;
}
.pos a:hover{
    background-color: #3244C0;
}
.line1{
    width: 49px;
    height: 120px;
    background: linear-gradient( to top, #A9C7F5, #0360E4 );
    position: absolute;
    left: 410px;
    top: 127px;
}
.line2{
    width: 49px;
    height: 120px;
    background: linear-gradient( to top, #A9C7F5, #0360E4 );
    position: absolute;
    right: 410px;
    top: 127px;
}
.box1{
    margin: 0 auto;
    width: 1100px;
    height: 208px;
    background-color: #A9C7F5;
    color:#0360E4;
    position: relative;
    top: 110px;
    z-index: -1;
    text-align: center;
    font-size: 30px;
    font-family: Noto Sans KR;
}
.border1{
    margin: 0 auto;
    width: 1002px;
    height: 155px;
    border: 3px solid #0360E4;
    color:#0360E4;
    position: relative;
    top: -70px;
    text-align: center;
    font-size: 50px;
    font-family: Noto Sans KR;
}
.vox{
    width: 1100px;
    height: 500px;
    position: relative;
    margin: 0 auto;
}
.title1{
    font-size: 70px;
    font-family: Noto Sans KR;
    color: #0360E4;
    text-align: center;
}
.title2{
    font-size: 70px;
    font-family: Noto Sans KR;
    color: #0360E4;
    text-align: center;
}
.title3{
    font-size: 70px;
    font-family: Noto Sans KR;
    color: #0360E4;
    text-align: center;
}
.title4{
    font-size: 70px;
    font-family: Noto Sans KR;
    color: #0360E4;
    text-align: center;
}
.title5{
    font-size: 70px;
    font-family: Noto Sans KR;
    color: #0360E4;
    text-align: center;
}
.text1{
    font-size: 30px;
    font-family: Noto Sans KR;
    color: #A9C7F5;
    text-align: center;
}
img{
    border: 2px solid dodgerblue;
    transition: 0.5s;
}
img:hover{
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 rgba(76, 160, 255, 0.5));
    filter: opacity(.5) drop-shadow(0 0 0 rgba(76, 160, 255, 0.5));
}
.cop{
    position:relative;
	bottom:-3700px;
    text-align: center;
    color: #0360E4;
    background-color: #A9C7F5;
    padding: 30px;
}
.logo{
    float: left;
    position: absolute;
    bottom: -3850px;
    z-index: 1;
    border: 0px;
}